/*global styles -----------------------------------------------------------------------*/
* {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}


table {
	border: 1px solid black;
	border-radius: 1px solid yellow;
	border-color: black; 
}

th {
	background-color: #e0e0eb;
	color: black;
	padding: 5px;
}

td {
	height: 10px;
	text-align: left;
	padding: 5px;
	border: 1px solid gray;
	text-align: center;
	font-size: 15px;

}

tr:nth-child(even) {
	background-color: #D8D8D8;
}

tr:nth-child(odd) {
	background-color: white;
}

h6 {
	color: red;
}

.login h3 {
	text-align: center;
	margin-top: 90px;
	font-weight: 700;
}

.form-control input {
	width: 300px;
}

div#datatable_length {
	text-align: left;
}

.dataTables_wrapper .dataTables_info {
	text-align: left;
}

.logo img {
	float: left;
	margin-top: -20px;
	margin-left: -55px;
	width: 30%;
	height: 30%;
	opacity: .95;
}
 
.logo1 img {
	width: 30%;
	height: 20%;
	opacity: .95;
	position: absolute;
	top: 30px;
	left: -60px;

}

.logo2 img {
	float: right;
	margin-top: 15px;
	margin-left: -55px;
	width: 200px;
	height: 150px;
	opacity: .95;

}

.logo-admin { 
	position: absolute;
	top: 35px;
	left: 30px;
}

#login-page-message {
	text-align: center;
	font-weight: bold;
	color: green;
}

#message {
	text-align: center;
	color: red;
	font-weight: bold;
	position: absolute;
	top: 40px;
	left: 550px;
}

#disclaimer {
	color: red;
	font-weight: bold;
	text-align: center;
}

#user_note {
	color: red;
	font-weight: bold;
	text-align: center;
}

#message1 {
	color: red;
	font-weight: bold;
	text-align: center;
}

#message2 {
	text-align: center;
	color: red;
	font-weight: bold;
	position: absolute;
	top: 60px;
	left: 550px;
}

.text-danger {
	color: red;
	margin-left: 80px;
	position: absolute;
	top: 180px;
}

/* Style all font awesome icons */
.fa {
	padding: 20px;
	font-size: 50px;
	width: 70px;
	text-align: center;
	text-decoration: none;
	margin: 4px 2px; 
	display: inline-block;
	font: x-large;
}

/* Add a hover effect if you want */
.fa:hover {
	opacity: 0.7;
	text-decoration: none;
}

.submit-inc-exp button:hover {
	background-color: #ffeb99;
}
/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
	background: #3B5998;
	color: white;
}

/* Twitter */
.fa-twitter {
	background: #55ACEE;
	color: white;
}

.fa-pinterest {
	background: #cb2027;
	color: white;
}

.fa-youtube {
	background: #bb0000;
	color: white;
}
#social-media {
	text-align: center;
}

/* main header display rules-----------------------------------------------------------*/
.main-heading h1 {
	width: auto;
	font-size: 26px;
	margin-left: 10px;
	margin-top: 35px;
}

.signout {
	border: 1px solid black;
	margin-top: -10px;
	margin-right: 15px;
	float: right;
	padding: 7.5px 30px; 
	border-radius: 5px;
	background-color: #DCDCDC;
	text-decoration: none;
	font-weight: bold;
}

.signout a:link {
	text-decoration: none;
	color: black;
}

.signout a:visited {
	color: black;
}

.signout a:hover {
	color: red;
}

.logininfo {
	font-size: 13.5px;
	margin-right: 5px;
	text-align: right;
	width: 400px;
	position: absolute;
	right: 35px;
	top: 65px;
}

.signout1 {
	border: 1px solid black;
	margin-top: 20px;
	margin-right: 15px;
	float: right;
	padding: 7.5px 30px; 
	border-radius: 5px;
	background-color: #DCDCDC;
	text-decoration: none;
	font-weight: bold;
}

.signout1 a:link {
	text-decoration: none;
	color: black;
}

.signout1 a:visited {
	color: black;
}

.signout1 a:hover {
	color: red;
}

.logininfo1 {
	font-size: 13.5px;
	margin-right: 35px;
	text-align: right;
	width: 400px;
	position: absolute;
	right: 35px;
	top: 20px;
}


body {
	font-family: Helvetica;
	margin-left: 30px;
	margin-right: 30px;
	padding: 0;
	box-sizing: border-box;
	background: #e4fcfc;
	}

hr {
	border-top: 2px solid #333;
	float: center;
}

/* added .nav-admin styles for admin_template.php */	
.nav-admin ul {
	list-style-type: none;
	overflow: hidden;
	width: 960px;
	margin: 0px auto;
	}

.nav-admin li {
	width: 182px;
	height: 40px;
	margin: 0px 4px;
	border: 1px solid #000;
	float: left;
	background-color: #eaa083;
	border-radius: 5px;

}	

.nav-admin a {
	display: block;
	width: 182px;
	height: 40px;
	line-height: 40px;
	text-decoration: none;
	text-align: center;
}

.nav-admin a:link {
	color: blue;
}

.nav-admin a:visited {
	color: purple;
}

.nav-admin li:hover {
	background-color: #ffeb99;
}

/* added .nav-user styles for user_template.php */
.nav-user ul {
	list-style-type: none;
	overflow: hidden;
	width: 840px;
	margin: 0px auto;

	}

.nav-user li {
	width: 200px;
	height: 40px;
	margin: 0px 4px;
	border: 1px solid #000;
	float: left;
	background-color: #eaa083;
}	

.nav-user a {
	display: block;
	width: 200px;
	height: 40px;
	line-height: 40px;
	text-decoration: none;
	text-align: center;
}

.nav-user a:link {
	color: blue;
}

.nav-user a:visited {
	color: purple;
}

.nav-user li:hover {
	background-color: #ffeb99;
}

/* added styles for template primary and secondary headers */
.main-title h2 {
	text-align: center;
	margin-bottom: 3px;
	letter-spacing: .5px;
}

.individual-page-title h3 {
	text-align: center;
	color: #33334d;
	font-size: 22px;
}

.individual-page-title p {
	text-align: center;
	color: #33334d;
	font-size: 16px;
}

/* added button styles for admin_view_general_ledger.php */
#button ul {
	list-style-type: none;
	overflow: hidden;
	width: 630px;
	margin: 0px auto;
}

#button li {
	width: 200px;
	height: 40px;
	margin: 0px 4px;
	border: 1px solid #000;
	float: left;
	background-color: #DDD;
	border-radius: 4px;
}	

#button li:hover {
	background-color: #ffeb99;
}

#button a {
	display: block;
	width: 200px;
	height: 40px;
	line-height: 40px;
	text-decoration: none;
	text-align: center;

}

.filter-box1 input {
	margin-left: 3%;
	margin-bottom: 20px;
	border-radius: 5px;
	height: 30px;
	border: 1px solid black;
	width: 100px;
	float: left;
	background-color: #f0f0f5;
	text-align: center;
	font-size: 14px;
	}

.filter-box2 input {
	margin-left: -75%;
	margin-bottom: 20px;
	border-radius: 5px;
	height: 30px;
	border: 1px solid black;
	width: 100px;
	text-align: center;
	background-color: #f0f0f5;
	font-size: 14px;
}

.filter-button input {
	padding: 5px 20px;
	margin-left: 25%;
	margin-top: -48px;
	margin-bottom: 20px;
	float: left;
	background-color: #d1e0e0;
	font-weight: bold;

}

.filter-button input:hover {
	background-color: #ffeb99;
}

.user-table {
	text-align: center;
	margin-left:auto; 
	margin-right:auto;
}

.table {
	text-align: center;
	margin-left:auto; 
	margin-right:auto;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
	color: gray;
	opacity: 1; /* Firefox */
	font-size: 12px;
}

/* added button styles for admin_report_quarterly_financial_statement.php */
#center-table {
	text-align: center;
	width: 960px;
	margin-left: auto;
	margin-right: auto;
}

#report th {
	width: 60%;
	text-align: left;
	height: 40px; 
}

.balance-report {
	text-align: center;
}

/* added styles for admin_post_imcome_expenses.php */
#search-by h4 {
	text-align: center;
	font-size: 18px;
	border: 1px solid black;
	padding: 8px 15px;
	margin: 0 auto;
	width: 30%;
	background-color: #e6e6e6;
	margin-bottom: 15px;
}

.results p {
	text-align: right;
}


form {
	text-align: center;
}

.select-name label {
	font-size: 22px;
	margin-bottom: 15px;
	margin-left: 22px;
	margin-right: 3px;
}

.select-name select {
	padding: 2px;
	width: 230px;
	margin-bottom: 15px;
	font-size: 14px;
}

.select-trans label {
	margin-top: 15px;
	margin-right: 3px;
	font-size: 22px;
	margin-bottom: 15px;
}

.select-trans select {
	padding: 2px; 
	width: 230px;
	margin-bottom: 15px;
	font-size: 14px;
}

.select-exp-type label {
	font-size: 22px;
	margin-bottom: 15px;
	margin-left: 32px;
	margin-right: 3px;
}

.select-exp-type select {
	padding: 2px;
	width: 230px;
	margin-bottom: 15px; 
	font-size: 14px;

}

.select-inc-type label {
	font-size: 22px;
	margin-bottom: 15px;
	margin-left: 50px;
	margin-right: 3px;
}

.select-inc-type select {
	padding: 2px;
	width: 230px;
	margin-bottom: 15px; 
	font-size: 14px;

}

.amount label {
	margin: 3px;
	font-size: 22px;
	margin-bottom: 15px;
	margin-left: 5px;
}

.amount input {
	width: 170px;
	padding: 2px; 
	margin-bottom: 15px; 
	font-size: 14px;
}

.description {
	text-align: middle;
}

.description label {
	font-size: 22px;
	margin-left: 15px; 
	vertical-align: middle;
	padding-bottom: 65px;
}

.description textarea {
	font-size: 14px;
}

.submit-inc-exp button {
	padding: 7.5px 30px; 
	border-radius: 5px;
	background-color: #DCDCDC;
	font-size: 15px;
	font-weight: bold;
}

.reset button {
	padding: 7.5px 30px; 
	border-radius: 5px;
	background-color: #DCDCDC;
	font-size: 15px;
	font-weight: bold;
	float: right;
	margin-right: 90px;

}

#date_filter {
	text-align: center;
} 

/* added styles for admin_view_update_ATF_status.php */
#button-two ul {
	list-style-type: none;
	overflow: hidden;
	width: 420px;
	margin: 0px auto;
}

#button-two li {
	width: 200px;
	height: 40px;
	margin: 0px 4px;
	border: 1px solid #000;
	float: left;
	background-color: #DDD;
	border-radius: 4px;
}	

#button-two li:hover {
	background-color: #ffeb99;
}

#button-two a {
	display: block;
	width: 200px;
	height: 40px;
	line-height: 40px;
	text-decoration: none;
	text-align: center;
}

/* added styles for admin_add_new_members.php */

.form {
	text-align: center;
}

#add_members {
	width: 809px;
	height: 715px;
	margin: 20px auto;
	background: lightgray;
	border: 2px solid black;
}

.left_column h3 {
	margin-top: 4px; 
}

.left_column {
	float: left; 
	width: 420px;
	margin-right: 0px; 
	border: 1px solid black;
	height: 714px;
}

.left_column label {
	width: 160px; 
	margin-right: 7px;
	padding: 2px; 
}

.left_column select {
	text-align: left;
	width: 160px; 
	height: 20px;
	font-size: 12px;
}

.left_column input {
	height: 20px;
	font-size: 12px;
	padding: 2px; 
	border: 1px solid gray;
}

.right_column {
	float: left;
	width: 385px; 
	height: 714px;
	border: 1px solid black;
}

.right_column h3 {
	margin-top: 4px; 
}

.right_column label {
	text-align: left;
	width: 160px;
	margin-right: 7px;
	padding: 2px;  
}

.right_column select {
	text-align: left;
	width: 160px; 
	height: 20px;
}

.right_column input {
	height: 20px;
	font-size: 12px;
	margin-right: 10px; 
	padding: 2px;
	border: 1px solid gray;
}

#button5 {
	height: 45px; 
	text-align: center;
	border-radius: 4px;
}

#button5 input {
	height: 30px;
	background-color: #DCDCDC;
	border-radius: 2px; 
	font-size: 15px;
	margin-left: 20px;  
	font-size: 15px;
	
}

#button5 input:hover {
	height: 30px;
	background-color: #ffeb99;
	border-radius: 5px; 

}

#button-back {
	text-align: center;
	width: 280px;
	height: 40px;
}

#bottom-return-to-dashboard {
	text-align: center;
	width: 280px;
	margin: 0px auto;
}

#button-back a {
	border: 1px solid black;
	padding: 10px;
	border-radius: 5px; 
	text-decoration: none;
	background-color: lightblue;
}

#button-back a:hover {
	background-color: #ffeb99;
}
/* added styles for admin_post_sales_checkout.php */
.select-item label {
	font-size: 22px;
	margin-bottom: 15px;
	margin-left: 22px;
	margin-right: 3px;
	}

.select-item select {
	padding: 2px;
	width: 230px;
	margin-bottom: 15px;
	font-size: 14px;
	}
	
#fee-collected h4 {
	text-align: center;
	font-size: 18px;
	border: 1px solid black;
	padding: 8px 15px;
	margin: 0 auto;
	width: 30%;
	background-color: #e6e6e6;
	margin-bottom: 15px;
}

.amount2 label {
	margin: 3px;
	font-size: 22px;
	margin-bottom: 15px;

}

.amount2 input {
	width: 170px;
	padding: 2px; 
	margin-bottom: 15px; 
	font-size: 14px;
}


.button-checkout button {
	width: 230px;
	height: 50px;
	border-radius: 5px;
	background-color: #0ca909;
	font-size: 22px;
	color: white;
	font-weight: 300;
	border: 1px solid black;
}

.reset2 button {
	padding: 7.5px 30px; 
	border-radius: 5px;
	background-color: #DCDCDC;
	font-size: 15px;
	font-weight: bold;
	float: right;
	margin-right: 90px;
}

.success p {
	text-align: center;
	margin-top: 125px;
	color: red;
	font-weight: bolder;

}

/* added styles for admin_main_dashboard.php */

.center-columns {
	box-sizing: border-box;
	margin: 20px auto;
	width: 700px;
	height: 350px;
}

.column1 {
	width: 305px;
	float: left;
	box-sizing: border-box;
	margin: 20px;

}

.column2 {
	width: 305px;
	float: left;
	box-sizing: border-box;
	margin: 20px;

	}

.column1 ul {
	list-style-type: none;
	overflow: hidden;
	margin: 0px auto;
	width: 100%;
	text-align: center;

}

.column1 a {
	display: block;
	width: 300px;
	height: 80px;
	line-height: 70px;
	text-decoration: none;
	text-align: center;

}

.dashboard-button1 li {
	width: 300px;
	height: 80px;
	margin: 0px 0px;
	border: 1px solid #000;
	float: left;
	background-color: #eaa083;
	border-radius: 5px;
	text-align: center;
}

.dashboard-button1 li:hover {
	background-color: #ffeb99;
}

.dashboard-button2 li {
	width: 300px;
	height: 80px;
	margin: 0px 0px;
	border: 1px solid #000;
	float: left;
	background-color: #eaa083;
	border-radius: 5px;
}

.dashboard-button2 li:hover {
	background-color: #ffeb99;
}

.dashboard-button3 li {
	width: 300px;
	height: 80px;
	margin: 0px 0px;
	border: 1px solid #000;
	float: left;
	background-color: #eaa083;
	border-radius: 5px;
}

.dashboard-button3 li:hover {
	background-color: #ffeb99;
}

.column2 ul {
	list-style-type: none;
	overflow: hidden;
	margin: 0px auto;
	width: 480px;
}

.column2 a {
	display: block;
	width: 300px;
	height: 80px;
	line-height: 70px;
	text-decoration: none;
	text-align: center;
}

.dashboard-button4 li {
	width: 300px;
	height: 80px;
	margin: 0px 0px;
	border: 1px solid #000;
	float: left;
	background-color: #eaa083;
	border-radius: 5px;
}

.dashboard-button4 li:hover {
	background-color: #ffeb99;
}

.dashboard-button5 li {
	width: 300px;
	height: 80px;
	margin: 0px 0px;
	border: 1px solid #000;
	float: left;
	background-color: #eaa083;
	border-radius: 5px;
}

.dashboard-button5 li:hover {
	background-color: #ffeb99;
}

.dashboard-button6 li {
	width: 300px;
	height: 80px;
	margin: 0px 0px;
	border: 1px solid #000;
	float: left;
	background-color: #eaa083;
	border-radius: 5px;
}

.dashboard-button6 li:hover {
	background-color: #ffeb99;
}

.last-button {
	width: 303px;
	text-align: center;
	margin: 20px auto;
}

.dashboard-button7 li {
	width: 300px;
	height: 80px;
	margin: 0px 0px;
	border: 1px solid #000;
	background-color: #eaa083;
	border-radius: 5px;
	text-align: center;	
}

.dashboard-button7 a {
	display: block;
	width: 300px;
	height: 80px;
	line-height: 70px;
	text-decoration: none;
	text-align: center;
	
}

.dashboard-button7 ul {
	list-style-type: none;
	overflow: hidden;
	width: 320px;
	text-align: center;
}

.dashboard-button7 li:hover {
	background-color: #ffeb99;
}

.member-portal-link a {
	text-align: center;
	text-decoration: none;
	color: green;
}

.member-portal-link li {
	text-align: center;

}

.member-portal-link ul {
	list-style-type: none;
}

#button-one input {
	padding: 14px; 
	width: 120px;
	background-color: lightblue;
	font-size: 14px;
	font-family: Helvetica;
	float: none;
}

#button-one input:hover {
	background-color: #ffeb99;
}

#button-one form {
	margin: 0;
	border: none;
	padding-left: none;
	padding-right: none;
	background: none;
	text-align: center;
}

#button6 {
	padding: 14px; 
	width: 120px;
	background-color: lightblue;
	font-size: 14px;
	font-family: Helvetica;
	float: none;
	text-align: center;
	border: 1px solid black;
}

#button6 a {
	text-decoration: none;
}

#center6 {
	text-align: center;
	margin: 0px auto;
	width: 120px;
}



/* added more styles for admin_user_receipt.php */

.receipt-label {
	text-align: left;
	margin-left: 150px;
	margin-right: auto;
	width: 180px;
	margin-top: -5px;
	padding: 1px; 
}

.receipt-info {
	width: 310px;
	margin-top: -5px;
	padding: 1px; 
	text-align: left;
	margin-left: 15px; 

}

.back ul {
	list-style-type: none;

}

.back li {
	text-align: right;
	margin-right: 150px;

}

.back a {

}

.back button {
	height: 35px; 
	padding: 2px 2px;
	width: 70px;
	background-color: orange;
}
.back button:hover {
	background-color: lightblue;
}

/* added styles for admin_view_update_import_price_list.php */

.block-center {
	text-align: center;
	width: 600px;
	margin: 0px auto;
}

div.container1 {
	border: 1px solid green;
	text-align: center;
	background-color: #f5f5f5;
	border-color: #ddd;
	padding: 10px 15px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	width: 600px;
}

div.container1 a {
	color: #337ab7;
	background-color: transparent;
	box-sizing: border-box;
	font-size: 14px;
	line-height: 1.43em;
	float: left;
}

div.panel-default {

}

div.panel-heading {

}

div.panel-body form {

}

input.btn-primary {
	padding: 6px 12px;
	display: inline-block;
	margin-bottom: 0;
	font-size: 14px;
	line-height: 1.42;
	text-align: center;
    white-space: nowrap;
	-ms-touch-action: manipulation;
	border: 1px solid transparent;
	border-radius: 4px;
	color: #fff;
	background-color: #337ab7;
	border-color: #2e6da4;
}

/* added footer styles for admin_template.php */
footer {
	font-size: 12px;
	position: fixed;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 1em;
	background-color: #EFEFEF;
	text-align: center;
	clear:both;
}












