table {
	border: 1px solid black;
	border-radius: 1px solid yellow;
	border-color: red; 

}

th {
	background-color: #4CAF50;
	color: black;
	padding: 5px;
	}

td {
	height: 10px;
	text-align: left;
	padding: 5px;
	border: 1px solid black;
}

tr:nth-child(even) {background-color: #D8D8D8;}

#message  {
	color: red;
	font-weight: bold;
}
	
 